<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
 <!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Recipes Food - Food & Recipes Food Template</title>
    <meta name="description" content="Recipes Food - Food & Recipes Food Template">
    <meta name="keywords" content="recipes food, recipes , sushi, chinese, italian food">
    <meta name="author" content="themearabia.net">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- COMMON SCRIPTS -->
    <script src="/Content/recipesfood/HTML version/js/jquery-2.2.4.min.js"></script>
    <script src="/Content/recipesfood/HTML version/js/bootstrap.min.js"></script>
    <script src="/Content/recipesfood/HTML version/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/Content/recipesfood/HTML version/js/jquery.easing.1.3.min.js"></script>
    <script src="/Content/recipesfood/HTML version/js/jquery.nicescroll.min.js"></script>
    <script src="/Content/recipesfood/HTML version/js/jquery.scrollTo.js"></script>
    <script src="/Content/recipesfood/HTML version/js/ResizeSensor.min.js"></script>
    <script src="/Content/recipesfood/HTML version/js/theia-sticky-sidebar.min.js"></script>
    <script src="/Content/recipesfood/HTML version/js/parallax.min.js"></script>
    <script src="/Content/recipesfood/HTML version/js/jquery.themepunch.plugins.min.js"></script>
    <script src="/Content/recipesfood/HTML version/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/Content/recipesfood/HTML version/js/ion.rangeSlider.min.js"></script>
    <script src="/Content/recipesfood/HTML version/js/imagesloaded.pkgd.min.js"></script>
    <script src="/Content/recipesfood/HTML version/js/custom.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Main Style -->
    <link rel="stylesheet" href="~/Content/recipesfood/HTML version/style.css">

    <!-- customize CSS Style -->
    <link rel="stylesheet" href="~/Content/recipesfood/HTML version/css/customize.css">

    <!-- Skins Style -->
    <link rel="stylesheet" href="~/Content/recipesfood/HTML version/css/skins/skins.css">

    <!-- Responsive Style -->
    <link rel="stylesheet" href="~/Content/recipesfood/HTML version/css/responsive.css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/Content/recipesfood/HTML version/images/favicon.png">

    <!-- Skins -->
    <!-- just remove the below comments witch color skin you want to use -->
    <!--<link rel="stylesheet" href="css/skins/blue.css">-->
    <!--<link rel="stylesheet" href="css/skins/yellow.css">-->
    <!--<link rel="stylesheet" href="css/skins/green.css">-->
    <!--<link rel="stylesheet" href="css/skins/cyan.css">-->
    <!--<link rel="stylesheet" href="css/skins/orange.css">-->
    <!--<link rel="stylesheet" href="css/skins/pink.css">-->
    <!--<link rel="stylesheet" href="css/skins/purple.css">-->
    <!--<link rel="stylesheet" href="css/skins/red.css">-->
    <!--<link rel="stylesheet" href="css/skins/lactic.css">-->
    <!--<link rel="stylesheet" href="css/skins/darkred.css">-->

</head>
<body class="sticky">
    <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->
    <!-- Preload -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div><!-- End Preload -->
    <!-- wrap Page -->
    <div id="wrap">

        <!-- Header Top -->
        <div id="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-5">
                        <div class="select-style">
                            <select>
                                <option value="language">Language</option>
                                <option value="english">English</option>
                                <option value="Arabic">Arabic</option>
                                <option value="spanish">Spanish</option>
                                <option value="russian">Russian</option>
                                <option value="french">French</option>
                            </select>
                        </div>
                    </div>
                    <nav class="col-md-6 col-sm-6 col-xs-7">
                        <div class="main-menu-2">
                            <ul>
                                @Html.Partial("_LoginPartial")

                                @*<li><a href="~/Account/Login.html"><i class="fa fa-sign-in"></i> Login</a></li>
                                <li><a href="~/User/Create"><i class="fa fa-user-plus"></i> Register</a></li>*@
                            </ul>
                        </div><!-- End main-menu-2 -->
                    </nav>
                </div>
            </div>
        </div><!-- End Header Top -->
       
    @Html.Partial("MainMenu")

        <!-- SubHeader -->
@*<section class="parallax-window" data-parallax="scroll" data-image-src="http://placehold.it/1400x520" data-natural-width="1400" data-natural-height="520">
            <div id="sub_header">
                <div class="container" id="sub_content">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>More than <span class="number">50000</span> Recipe.</h1>
                            <h3>We Know How To Make Your Life Awesome.</h3>
                            <form method="post" action="#">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input type="text" class="search-query" placeholder="Search...">
                                        <span class="input-group-btn">
                                            <input type="submit" class="btn_search" value="submit">
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- End row -->
                </div><!-- End container -->
            </div>
        </section>*@        
        <!-- End SubHeader -->

        <div class="container body-content">
            @RenderBody()
            <hr />
            
        </div>

     @*   <div class="container margin_60">
         <div class="main_title">
             <h2 class="nomargin_top">Top Review</h2>
             <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
             <hr class="divider">
         </div><!-- End main_title -->
         <div class="row">
             <div class="col-md-4 col-sm-6 col-xs-12">
                 <div class="recipes-review">
                     <div class="recipes-img">
                         <img src="http://placehold.it/350x220" alt="" />
                         <div class="favorite active"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></div>
                     </div>
                     <div class="recipes-content">
                         <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                         <div class="ratings">
                             <ul class="stars">
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             </ul><!-- End stars -->
                             <span>134</span>
                         </div>
                         <div class="col-details">
                             <ul class="details">
                                 <li>
                                     <img src="http://placehold.it/48x48" class="img-profile" alt="">
                                 </li>
                                 <li>
                                     <h4></h4>
                                     <ul class="favorites">
                                         <li><i class="fa fa-heart"></i></li>
                                         <li><span>235</span></li>
                                     </ul>
                                     <ul class="comments">
                                         <li><i class="fa fa-comments"></i></li>
                                         <li><span>36</span></li>
                                     </ul>
                                 </li>
                             </ul>
                             <div class="review-final-score">
                                 <h3>9.9</h3>
                                 <h4>Review Score</h4>
                             </div>
                         </div>
                     </div>
                     <div class="review-box review-percentage">
                         <h2 class="review-box-header">Review Title</h2>
                         <div class="review-item">
                             <h5>Design - 10</h5><span style="width: 100%;"></span>
                         </div>
                         <div class="review-item">
                             <h5>Design - 9.1</h5><span style="width: 91%;"></span>
                         </div>
                         <div class="review-item">
                             <h5>Design - 9.4</h5><span style="width: 94%;"></span>
                         </div>
                         <div class="review-item">
                             <h5>Design - 9</h5><span style="width: 90%;"></span>
                         </div>
                         <div class="review-item">
                             <h5>Design - 9.6</h5><span style="width: 96%;"></span>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 col-sm-6 col-xs-12">
                 <div class="recipes-review">
                     <div class="recipes-img">
                         <img src="http://placehold.it/350x220" alt="" />
                         <div class="favorite active"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></div>
                     </div>
                     <div class="recipes-content">
                         <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                         <div class="ratings">
                             <ul class="stars">
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             </ul><!-- End stars -->
                             <span>134</span>
                         </div>
                         <div class="col-details">
                             <ul class="details">
                                 <li>
                                     <img src="http://placehold.it/48x48" class="img-profile" alt="">
                                 </li>
                                 <li>
                                     <h4></h4>
                                     <ul class="favorites">
                                         <li><i class="fa fa-heart"></i></li>
                                         <li><span>235</span></li>
                                     </ul>
                                     <ul class="comments">
                                         <li><i class="fa fa-comments"></i></li>
                                         <li><span>36</span></li>
                                     </ul>
                                 </li>
                             </ul>
                             <div class="review-final-score">
                                 <h3>9.9</h3>
                                 <h4>Review Score</h4>
                             </div>
                         </div>
                     </div>
                     <div class="review-box review-percentage">
                         <h2 class="review-box-header">Review Title</h2>
                         <div class="review-item">
                             <h5>Design - 10</h5><span style="width: 100%;"></span>
                         </div>
                         <div class="review-item">
                             <h5>Design - 9.1</h5><span style="width: 91%;"></span>
                         </div>
                         <div class="review-item">
                             <h5>Design - 9.4</h5><span style="width: 94%;"></span>
                         </div>
                         <div class="review-item">
                             <h5>Design - 9</h5><span style="width: 90%;"></span>
                         </div>
                         <div class="review-item">
                             <h5>Design - 9.6</h5><span style="width: 96%;"></span>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 col-sm-6 col-xs-12">
                 <div class="recipes-review">
                     <div class="recipes-img">
                         <img src="http://placehold.it/350x220" alt="" />
                         <div class="favorite"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></div>
                     </div>
                     <div class="recipes-content">
                         <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                         <div class="ratings">
                             <ul class="stars">
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             </ul><!-- End stars -->
                             <span>134</span>
                         </div>
                         <div class="col-details">
                             <ul class="details">
                                 <li>
                                     <img src="http://placehold.it/48x48" class="img-profile" alt="">
                                 </li>
                                 <li>
                                     <h4></h4>
                                     <ul class="favorites">
                                         <li><i class="fa fa-heart"></i></li>
                                         <li><span>235</span></li>
                                     </ul>
                                     <ul class="comments">
                                         <li><i class="fa fa-comments"></i></li>
                                         <li><span>36</span></li>
                                     </ul>
                                 </li>
                             </ul>
                             <div class="review-final-score">
                                 <h3>9.9</h3>
                                 <h4>Review Score</h4>
                             </div>
                         </div>
                     </div>
                     <div class="review-box review-percentage">
                         <h2 class="review-box-header">Review Title</h2>
                         <div class="review-item">
                             <h5>Design - 10</h5><span style="width: 100%;"></span>
                         </div>
                         <div class="review-item">
                             <h5>Design - 9.1</h5><span style="width: 91%;"></span>
                         </div>
                         <div class="review-item">
                             <h5>Design - 9.4</h5><span style="width: 94%;"></span>
                         </div>
                         <div class="review-item">
                             <h5>Design - 9</h5><span style="width: 90%;"></span>
                         </div>
                         <div class="review-item">
                             <h5>Design - 9.6</h5><span style="width: 96%;"></span>
                         </div>
                     </div>
                 </div>
             </div>

             <div class="col-md-4 col-sm-6 col-xs-12">
                 <div class="recipes-review">
                     <div class="recipes-img">
                         <img src="http://placehold.it/350x220" alt="" />
                         <div class="favorite"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></div>
                     </div>
                     <div class="recipes-content">
                         <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                         <div class="ratings">
                             <ul class="stars">
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             </ul><!-- End stars -->
                             <span>134</span>
                         </div>
                         <div class="col-details">
                             <ul class="details">
                                 <li>
                                     <img src="http://placehold.it/48x48" class="img-profile" alt="">
                                 </li>
                                 <li>
                                     <h4></h4>
                                     <ul class="favorites">
                                         <li><i class="fa fa-heart"></i></li>
                                         <li><span>235</span></li>
                                     </ul>
                                     <ul class="comments">
                                         <li><i class="fa fa-comments"></i></li>
                                         <li><span>36</span></li>
                                     </ul>
                                 </li>
                             </ul>
                             <div class="review-final-score">
                                 <h3>9.9</h3>
                                 <h4>Review Score</h4>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 col-sm-6 col-xs-12">
                 <div class="recipes-review">
                     <div class="recipes-img">
                         <img src="http://placehold.it/350x220" alt="" />
                         <div class="favorite"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></div>
                     </div>
                     <div class="recipes-content">
                         <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                         <div class="ratings">
                             <ul class="stars">
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             </ul><!-- End stars -->
                             <span>134</span>
                         </div>
                         <div class="col-details">
                             <ul class="details">
                                 <li>
                                     <img src="http://placehold.it/48x48" class="img-profile" alt="">
                                 </li>
                                 <li>
                                     <h4></h4>
                                     <ul class="favorites">
                                         <li><i class="fa fa-heart"></i></li>
                                         <li><span>235</span></li>
                                     </ul>
                                     <ul class="comments">
                                         <li><i class="fa fa-comments"></i></li>
                                         <li><span>36</span></li>
                                     </ul>
                                 </li>
                             </ul>
                             <div class="review-final-score">
                                 <h3>9.9</h3>
                                 <h4>Review Score</h4>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 col-sm-6 col-xs-12">
                 <div class="recipes-review">
                     <div class="recipes-img">
                         <img src="http://placehold.it/350x220" alt="" />
                         <div class="favorite"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></div>
                     </div>
                     <div class="recipes-content">
                         <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                         <div class="ratings">
                             <ul class="stars">
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             </ul><!-- End stars -->
                             <span>134</span>
                         </div>
                         <div class="col-details">
                             <ul class="details">
                                 <li>
                                     <img src="http://placehold.it/48x48" class="img-profile" alt="">
                                 </li>
                                 <li>
                                     <h4></h4>
                                     <ul class="favorites">
                                         <li><i class="fa fa-heart"></i></li>
                                         <li><span>235</span></li>
                                     </ul>
                                     <ul class="comments">
                                         <li><i class="fa fa-comments"></i></li>
                                         <li><span>36</span></li>
                                     </ul>
                                 </li>
                             </ul>
                             <div class="review-final-score">
                                 <h3>9.9</h3>
                                 <h4>Review Score</h4>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div><!-- End container TOP REVIEW-->


    <div class="container margin_60">
         <div class="main_title">
             <h2 class="nomargin_top">Menu Of The Day</h2>
             <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
             <hr class="divider">
         </div><!-- End main_title -->
         <div class="row">
             <div class="col-md-3 col-sm-6 col-xs-12">
                 <div class="menu-item">
                     <div class="menu-img"><img src="http://placehold.it/270x200" alt="" /></div>
                     <div class="menu-content">
                         <ul class="stars">
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         </ul><!-- End stars -->
                         <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                         <a href="#" class="button-more">Continue reading</a>
                     </div>
                 </div>
             </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
                 <div class="menu-item">
                     <div class="menu-img"><img src="http://placehold.it/270x200" alt="" /></div>
                     <div class="menu-content">
                         <ul class="stars">
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         </ul><!-- End stars -->
                         <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                         <a href="#" class="button-more">Continue reading</a>
                     </div>
                 </div>
             </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
                 <div class="menu-item">
                     <div class="menu-img"><img src="http://placehold.it/270x200" alt="" /></div>
                     <div class="menu-content">
                         <ul class="stars">
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         </ul><!-- End stars -->
                         <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                         <a href="#" class="button-more">Continue reading</a>
                     </div>
                 </div>
             </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
                 <div class="menu-item">
                     <div class="menu-img"><img src="http://placehold.it/270x200" alt="" /></div>
                     <div class="menu-content">
                         <ul class="stars">
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         </ul><!-- End stars -->
                         <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                         <a href="#" class="button-more">Continue reading</a>
                     </div>
                 </div>
             </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
                 <div class="menu-item">
                     <div class="menu-img"><img src="http://placehold.it/270x200" alt="" /></div>
                     <div class="menu-content">
                         <ul class="stars">
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         </ul><!-- End stars -->
                         <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                         <a href="#" class="button-more">Continue reading</a>
                     </div>
                 </div>
             </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
                 <div class="menu-item">
                     <div class="menu-img"><img src="http://placehold.it/270x200" alt="" /></div>
                     <div class="menu-content">
                         <ul class="stars">
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         </ul><!-- End stars -->
                         <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                         <a href="#" class="button-more">Continue reading</a>
                     </div>
                 </div>
             </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
                 <div class="menu-item">
                     <div class="menu-img"><img src="http://placehold.it/270x200" alt="" /></div>
                     <div class="menu-content">
                         <ul class="stars">
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         </ul><!-- End stars -->
                         <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                         <a href="#" class="button-more">Continue reading</a>
                     </div>
                 </div>
             </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
                 <div class="menu-item">
                     <div class="menu-img"><img src="http://placehold.it/270x200" alt="" /></div>
                     <div class="menu-content">
                         <ul class="stars">
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         </ul><!-- End stars -->
                         <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                         <a href="#" class="button-more">Continue reading</a>
                     </div>
                 </div>
             </div>
         </div><!-- End row -->
     </div><!-- End container MENU OF THE DAY-->

     <div class="white_bg">
         <div class="container margin_60">
             <div class="main_title">
                 <h2 class="nomargin_top">Recipe</h2>
                 <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                 <hr class="divider">
             </div><!-- End main_title -->
             <div class="row">
                 <div class="col-md-6">
                     <div class="col-recipe">
                         <div class="photo">
                             <img src="http://placehold.it/400x400" alt="">
                             <span class="image-fader"><span class="hover-icon"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></span></span>
                         </div>
                         <div class="excerpt">
                             <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                             <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                             <ul class="stars">
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             </ul><!-- End stars -->
                         </div><!-- End excerpt -->
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="col-recipe">
                         <div class="photo">
                             <img src="http://placehold.it/400x400" alt="">
                             <span class="image-fader"><span class="hover-icon"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></span></span>
                         </div>
                         <div class="excerpt">
                             <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                             <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                             <ul class="stars">
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             </ul><!-- End stars -->
                         </div><!-- End excerpt -->
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="col-recipe">
                         <div class="photo">
                             <img src="http://placehold.it/400x400" alt="">
                             <span class="image-fader"><span class="hover-icon"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></span></span>
                         </div>
                         <div class="excerpt">
                             <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                             <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                             <ul class="stars">
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             </ul><!-- End stars -->
                         </div><!-- End excerpt -->
                     </div>
                 </div>


                 <div class="col-md-6">
                     <div class="col-recipe">
                         <div class="photo">
                             <img src="http://placehold.it/400x400" alt="">
                             <span class="image-fader"><span class="hover-icon"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></span></span>
                         </div>
                         <div class="excerpt">
                             <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                             <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                             <ul class="stars">
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             </ul><!-- End stars -->
                         </div><!-- End excerpt -->
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="col-recipe">
                         <div class="photo">
                             <img src="http://placehold.it/400x400" alt="">
                             <span class="image-fader"><span class="hover-icon"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></span></span>
                         </div>
                         <div class="excerpt">
                             <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                             <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                             <ul class="stars">
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             </ul><!-- End stars -->
                         </div><!-- End excerpt -->
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="col-recipe">
                         <div class="photo">
                             <img src="http://placehold.it/400x400" alt="">
                             <span class="image-fader"><span class="hover-icon"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></span></span>
                         </div>
                         <div class="excerpt">
                             <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                             <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                             <ul class="stars">
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             </ul><!-- End stars -->
                         </div><!-- End excerpt -->
                     </div>
                 </div>
                 <div class="col-md-12">
                     <div class="text-center">
                         <a class="button-browse-more" href="#">Browse More Recipe</a>
                     </div>
                 </div>
             </div><!-- End row -->
         </div><!-- End container -->
     </div><!-- End white_bg RECIPES-->

     <div class="container margin_60">
         <div class="main_title">
             <h2 class="nomargin_top">Videos</h2>
             <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
             <hr class="divider">
         </div><!-- End main_title -->
         <div class="row">
             <div class="col-md-4 col-sm-6 col-xs-12">
                 <div class="col-video">
                     <div class="photo">
                         <img src="http://placehold.it/450x300" alt="">
                         <span class="image-fader">
                             <span class="hover-icon">
                                 <a href="javascript:void(0);"><i class="fa fa-play"></i></a>
                             </span>
                         </span>
                         <span class="video-time">3:00</span>
                     </div>
                     <h3>Japan Food</h3>
                     <ul class="stars">
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                     </ul><!-- End stars -->
                 </div><!-- End wideo_box -->
             </div>
             <div class="col-md-4 col-sm-6 col-xs-12">
                 <div class="col-video">
                     <div class="photo">
                         <img src="http://placehold.it/450x300" alt="">
                         <span class="image-fader">
                             <span class="hover-icon">
                                 <a href="javascript:void(0);"><i class="fa fa-play"></i></a>
                             </span>
                         </span>
                         <span class="video-time">5:20</span>
                     </div>
                     <h3>Japan Food</h3>
                     <ul class="stars">
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                     </ul><!-- End stars -->
                 </div><!-- End wideo_box -->
             </div>
             <div class="col-md-4 col-sm-6 col-xs-12">
                 <div class="col-video">
                     <div class="photo">
                         <img src="http://placehold.it/450x300" alt="">
                         <span class="image-fader">
                             <span class="hover-icon">
                                 <a href="javascript:void(0);"><i class="fa fa-play"></i></a>
                             </span>
                         </span>
                         <span class="video-time">8:26</span>
                     </div>
                     <h3>Japan Food</h3>
                     <ul class="stars">
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                     </ul><!-- End stars -->
                 </div><!-- End wideo_box -->
             </div>
             <div class="col-md-4 col-sm-6 col-xs-12">
                 <div class="col-video">
                     <div class="photo">
                         <img src="http://placehold.it/450x300" alt="">
                         <span class="image-fader">
                             <span class="hover-icon">
                                 <a href="javascript:void(0);"><i class="fa fa-play"></i></a>
                             </span>
                         </span>
                         <span class="video-time">8:26</span>
                     </div>
                     <h3>Japan Food</h3>
                     <ul class="stars">
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                     </ul><!-- End stars -->
                 </div><!-- End wideo_box -->
             </div>
             <div class="col-md-4 col-sm-6 col-xs-12">
                 <div class="col-video">
                     <div class="photo">
                         <img src="http://placehold.it/450x300" alt="">
                         <span class="image-fader">
                             <span class="hover-icon">
                                 <a href="javascript:void(0);"><i class="fa fa-play"></i></a>
                             </span>
                         </span>
                         <span class="video-time">8:26</span>
                     </div>
                     <h3>Japan Food</h3>
                     <ul class="stars">
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                     </ul><!-- End stars -->
                 </div><!-- End wideo_box -->
             </div>
             <div class="col-md-4 col-sm-6 col-xs-12">
                 <div class="col-video">
                     <div class="photo">
                         <img src="http://placehold.it/450x300" alt="">
                         <span class="image-fader">
                             <span class="hover-icon">
                                 <a href="javascript:void(0);"><i class="fa fa-play"></i></a>
                             </span>
                         </span>
                         <span class="video-time">8:26</span>
                     </div>
                     <h3>Japan Food</h3>
                     <ul class="stars">
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                     </ul><!-- End stars -->
                 </div><!-- End wideo_box -->
             </div>
             <div class="col-md-12">
                 <div class="text-center">
                     <a class="button-browse-more" href="#">Browse More Videos</a>
                 </div>
             </div>
         </div><!-- End row -->
     </div><!-- End container VIDEOS-->

     <div class="white_bg">
         <div class="container margin_60">
             <div class="main_title">
                 <h2 class="nomargin_top">Blog</h2>
                 <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                 <hr class="divider">
             </div><!-- End main_title -->
             <div class="row">
                 <div class="col-lg-6 col-md-6 col-xs-12">
                     <ul class="recent-posts">
                         <li>
                             <div class="photo">
                                 <img src="http://placehold.it/400x400" alt="">
                                 <span class="image-fader"><span class="hover-icon"><a href="blog-single.html"><i class="fa fa-plus"></i></a></span></span>
                             </div>
                             <div class="inner">
                                 <h3>Lorem ipsum dolor sit amet</h3>
                                 <ul class="stars">
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 </ul><!-- End stars -->
                                 <p>Consider now provided laughter boy landlord dashwood. Often voice and the spoke. No shewing fertile village equally prepare up females.</p>
                                 <a href="blog-single.html" class="button-more">Continue reading</a>
                             </div><!-- End inner -->
                         </li><!-- End item -->
                         <li>
                             <div class="photo">
                                 <img src="http://placehold.it/400x400" alt="">
                                 <span class="image-fader"><span class="hover-icon"><a href="blog-single.html"><i class="fa fa-plus"></i></a></span></span>
                             </div>
                             <div class="inner">
                                 <h3>Lorem ipsum dolor sit amet</h3>
                                 <ul class="stars">
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 </ul><!-- End stars -->
                                 <p>Consider now provided laughter boy landlord dashwood. Often voice and the spoke. No shewing fertile village equally prepare up females.</p>
                                 <a href="blog-single.html" class="button-more">Continue reading</a>
                             </div><!-- End inner -->
                         </li><!-- End item -->
                         <li>
                             <div class="photo">
                                 <img src="http://placehold.it/400x400" alt="">
                                 <span class="image-fader"><span class="hover-icon"><a href="blog-single.html"><i class="fa fa-plus"></i></a></span></span>
                             </div>
                             <div class="inner">
                                 <h3>Lorem ipsum dolor sit amet</h3>
                                 <ul class="stars">
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 </ul><!-- End stars -->
                                 <p>Consider now provided laughter boy landlord dashwood. Often voice and the spoke. No shewing fertile village equally prepare up females.</p>
                                 <a href="blog-single.html" class="button-more">Continue reading</a>
                             </div><!-- End inner -->
                         </li><!-- End item -->
                     </ul><!-- End recent-posts -->
                 </div>
                 <div class="col-lg-6 col-md-6 col-xs-12">
                     <ul class="recent-posts">
                         <li>
                             <div class="photo">
                                 <img src="http://placehold.it/400x400" alt="">
                                 <span class="image-fader"><span class="hover-icon"><a href="blog-single.html"><i class="fa fa-plus"></i></a></span></span>
                             </div>
                             <div class="inner">
                                 <h3>Lorem ipsum dolor sit amet</h3>
                                 <ul class="stars">
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 </ul><!-- End stars -->
                                 <p>Consider now provided laughter boy landlord dashwood. Often voice and the spoke. No shewing fertile village equally prepare up females.</p>
                                 <a href="blog-single.html" class="button-more">Continue reading</a>
                             </div><!-- End inner -->
                         </li><!-- End item -->
                         <li>
                             <div class="photo">
                                 <img src="http://placehold.it/400x400" alt="">
                                 <span class="image-fader"><span class="hover-icon"><a href="blog-single.html"><i class="fa fa-plus"></i></a></span></span>
                             </div>
                             <div class="inner">
                                 <h3>Lorem ipsum dolor sit amet</h3>
                                 <ul class="stars">
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 </ul><!-- End stars -->
                                 <p>Consider now provided laughter boy landlord dashwood. Often voice and the spoke. No shewing fertile village equally prepare up females.</p>
                                 <a href="blog-single.html" class="button-more">Continue reading</a>
                             </div><!-- End inner -->
                         </li><!-- End item -->
                         <li>
                             <div class="photo">
                                 <img src="http://placehold.it/400x400" alt="">
                                 <span class="image-fader"><span class="hover-icon"><a href="blog-single.html"><i class="fa fa-plus"></i></a></span></span>
                             </div>
                             <div class="inner">
                                 <h3>Lorem ipsum dolor sit amet</h3>
                                 <ul class="stars">
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                     <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 </ul><!-- End stars -->
                                 <p>Consider now provided laughter boy landlord dashwood. Often voice and the spoke. No shewing fertile village equally prepare up females.</p>
                                 <a href="blog-single.html" class="button-more">Continue reading</a>
                             </div><!-- End inner -->
                         </li><!-- End item -->
                     </ul><!-- End recent-posts -->
                 </div>
                 <div class="col-md-12">
                     <div class="text-center">
                         <a class="button-browse-more" href="#">Browse More Posts</a>
                     </div>
                 </div>
             </div><!-- End row -->
         </div><!-- End container -->
     </div><!-- End white_bg  BLOG-->



     <div class="container margin_60">
         <div class="main_title">
             <h2 class="nomargin_top">Books</h2>
             <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
             <hr class="divider">
         </div><!-- End main_title -->
         <div class="row">
             <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                 <div class="col-book">
                     <div class="photo">
                         <img src="http://placehold.it/350x450" alt="">
                     </div>
                     <h3><a href="">The Food Babe Way</a></h3>
                     <ul class="stars">
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                     </ul><!-- End stars -->
                 </div><!-- End col-book -->
             </div>
             <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                 <div class="col-book">
                     <div class="photo">
                         <img src="http://placehold.it/350x450" alt="">
                     </div>
                     <h3><a href="">The Food Babe Way</a></h3>
                     <ul class="stars">
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                     </ul><!-- End stars -->
                 </div><!-- End col-book -->
             </div>
             <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                 <div class="col-book">
                     <div class="photo">
                         <img src="http://placehold.it/350x450" alt="">
                     </div>
                     <h3><a href="">The Food Babe Way</a></h3>
                     <ul class="stars">
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                     </ul><!-- End stars -->
                 </div><!-- End col-book -->
             </div>
             <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                 <div class="col-book">
                     <div class="photo">
                         <img src="http://placehold.it/350x450" alt="">
                     </div>
                     <h3><a href="">The Food Babe Way</a></h3>
                     <ul class="stars">
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                     </ul><!-- End stars -->
                 </div><!-- End col-book -->
             </div>
             <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                 <div class="col-book">
                     <div class="photo">
                         <img src="http://placehold.it/350x450" alt="">
                     </div>
                     <h3><a href="">The Food Babe Way</a></h3>
                     <ul class="stars">
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                     </ul><!-- End stars -->
                 </div><!-- End col-book -->
             </div>
             <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                 <div class="col-book">
                     <div class="photo">
                         <img src="http://placehold.it/350x450" alt="">
                     </div>
                     <h3><a href="">The Food Babe Way</a></h3>
                     <ul class="stars">
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                         <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                     </ul><!-- End stars -->
                 </div><!-- End col-book -->
             </div>
             <div class="col-md-12">
                 <div class="text-center">
                     <a class="button-browse-more" href="#">Browse More Books</a>
                 </div>
             </div>
         </div><!-- End row -->
     </div><!-- End container BOOKS-->

     <div class="white_bg">
         <div class="container margin_60">
             <div class="main_title">
                 <h2 class="nomargin_top">Top Chefs</h2>
                 <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                 <hr class="divider">
             </div><!-- End main_title -->
             <div class="row">
                 <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                     <div class="col-chef">
                         <div class="photo">
                             <img src="http://placehold.it/350x450" alt="">
                         </div>
                         <div class="chef-overlay">
                             <h3><a href="#">The Best Chef</a></h3>
                             <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                             <ul class="stars">
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             </ul><!-- End stars -->
                         </div><!-- End chef-overlay -->
                     </div><!-- End col-chef -->
                 </div>
                 <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                     <div class="col-chef">
                         <div class="photo">
                             <img src="http://placehold.it/350x450" alt="">
                         </div>
                         <div class="chef-overlay">
                             <h3><a href="#">The Best Chef</a></h3>
                             <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                             <ul class="stars">
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             </ul><!-- End stars -->
                         </div><!-- End chef-overlay -->
                     </div><!-- End col-chef -->
                 </div>
                 <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                     <div class="col-chef">
                         <div class="photo">
                             <img src="http://placehold.it/350x450" alt="">
                         </div>
                         <div class="chef-overlay">
                             <h3><a href="#">The Best Chef</a></h3>
                             <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                             <ul class="stars">
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             </ul><!-- End stars -->
                         </div><!-- End chef-overlay -->
                     </div><!-- End col-chef -->
                 </div>
                 <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                     <div class="col-chef">
                         <div class="photo">
                             <img src="http://placehold.it/350x450" alt="">
                         </div>
                         <div class="chef-overlay">
                             <h3><a href="#">The Best Chef</a></h3>
                             <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                             <ul class="stars">
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                             </ul><!-- End stars -->
                         </div><!-- End chef-overlay -->
                     </div><!-- End col-chef -->
                 </div>
                 <div class="col-md-12">
                     <div class="text-center">
                         <a class="button-browse-more" href="#">Browse More Chefs</a>
                     </div>
                 </div>
             </div><!-- End row -->
         </div><!-- End container -->
     </div><!-- End white_bg TOP CHEFS -->

     <div class="container margin_60">
         <div class="main_title">
             <h2 class="nomargin_top">Community</h2>
             <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
             <hr class="divider">
         </div><!-- End main_title -->
         <div class="row">
             <div class="col-lg-6 col-md-6 col-xs-12">
                 <div class="col-community">
                     <div class="thumb">
                         <i class="ic icon-community"></i>
                     </div>
                     <div class="inner">
                         <h3><a href="">Exercising and cooking</a></h3>
                         <p>Lorem ipsum dolor sit amet</p>
                     </div>
                 </div><!-- End col-community -->
             </div>
             <div class="col-lg-6 col-md-6 col-xs-12">
                 <div class="col-community">
                     <div class="thumb">
                         <i class="ic icon-community"></i>
                     </div>
                     <div class="inner">
                         <h3><a href="">Recipes Recipes for Babies</a></h3>
                         <p>Lorem ipsum dolor sit amet</p>
                     </div>
                 </div><!-- End col-community -->
             </div>
             <div class="col-lg-6 col-md-6 col-xs-12">
                 <div class="col-community">
                     <div class="thumb">
                         <i class="ic icon-community"></i>
                     </div>
                     <div class="inner">
                         <h3><a href="">Special Diets for losing weight</a></h3>
                         <p>Lorem ipsum dolor sit amet</p>
                     </div>
                 </div><!-- End col-community -->
             </div>
             <div class="col-lg-6 col-md-6 col-xs-12">
                 <div class="col-community">
                     <div class="thumb">
                         <i class="ic icon-community"></i>
                     </div>
                     <div class="inner">
                         <h3><a href="">Ideas for grilling meat at home</a></h3>
                         <p>Lorem ipsum dolor sit amet</p>
                     </div>
                 </div><!-- End col-community -->
             </div>
         </div><!-- End row -->
     </div><!-- End container COMMUNITY -->*@
        <!-- mobile app -->
        <div class="white_bg">
            <div class="container get-apps">
                <div class="row">
                    <div class="col-sm-8 col-md-8">
                        <h3>Get the mobile app!</h3>
                        <p>Consider now provided laughter boy landlord dashwood. Often voice and the spoke. No shewing fertile village equally prepare up females.</p>
                        <div class="apps-image">
                            <a href="#">
                                <img src="/Content/recipesfood/HTML version/images/ios.png" alt="">
                            </a>
                            <a href="#">
                                <img src="/Content/recipesfood/HTML version/images/android.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 apps-cover">
                        <img src="/Content/recipesfood/HTML version/images/apps.png" alt="">
                    </div>
                </div>
            </div>
        </div><!-- End mobile app -->
        <!-- newslatter -->
        <div class="newslatter">
            <div class="container">
                <p>stay Always Updated With us. Sign in with our newsletter</p>
                <div class="subcribe">
                    <input type="text" class="form-control" placeholder="Your mail">
                    <a class="fa fa-paper-plane" href="javascript:void(0);"></a>
                </div>
            </div>
        </div><!-- End newslatter -->
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="social_footer">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            </ul>
                            <p>
                                Recipes Food  |  All Rights Reserved.
                                <br />                             
                            </p>
                        </div>
                    </div>
                </div><!-- End row -->
            </div><!-- End container -->
        </footer><!-- End Footer -->
    </div><!-- End wrap Page -->
    <!-- go-up -->
    <div class="go-up"><i class="fa fa-chevron-up"></i></div>
    <!-- End go-up -->
   
</body>

</html>